<div id="me-root">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#/me/dashboard">
          <%= image_tag 'logo.png' %>
        </a>
      </div>
      <div id="navbar" class="navbar-default">
        <ul class="nav navbar-nav">
          <li><a href="#/me/dashboard" ng-class="{ active: currState.root == '/me/dashboard' }">
            <span class="glyphicon glyphicon-dashboard"></span>Dashboard
          </a></li>
          <li><a href="#/me/events" ng-class="{ active: currState.root == '/me/events' }">
            <span class="glyphicon glyphicon-calendar"></span>Events
          </a></li>
          <li><a href="#/me/explore" ng-class="{ active: currState.root == '/me/explore' }">
            <span class="glyphicon glyphicon-map-marker"></span>Explore
          </a></li>
        </ul>

        <!-- profile -->
        <ul class="nav navbar-nav">
          <li><a href="#/me/profile">
            <div><img ng-src="{{currentUser.user.avatar.thumb.url}}" alt="" class="img-circle" /></div>
            {{ currentUser.user.username }}
          </a></li>
        </ul>
      </div><!--/.navbar-default -->
    </div>
  </nav>

  <div class="container-fluid">
    <ui-view><!-- view rendered here --></ui-view>
  </div>
</div>