body {
	-webkit-transition: background-image 0.5s ease-in-out;
	transition: background-image 0.5s ease-in-out;

	div.signup {
		float: none;
		margin: auto;
		padding-top: 15px;
		padding-bottom: 15px;

		border-radius: 4px;
		background-color: rgba(255,255,255,0.9);

		div#signup-success-container {
			padding: 5px 5px 0;

			div.col-xs-2 {
				text-align: center;
				font-size: 4em;
			}
		}

		div#signup-form-container {
			div#signup-spacer {
				margin-top: 10px;
				text-align: center;
				position: relative;
				font-size: 0.8em;
				font-weight: bold;

				&::before,
				&::after {
					display: block;
					width: 46%;
					position: absolute;
					top: 49%;
					border-bottom: 1px solid #000;
					content: " "
				}

				&::before { left: 0; }
				&::after { right: 0; }
			}

			form#signup-form {
				h4 {
					text-align: center;
				}
			}
		}
	}
}