body {
	-webkit-transition: background-image 0.5s ease-in-out;
	transition: background-image 0.5s ease-in-out;

	> nav.navbar {
		// background-color: rgba(255,255,255,0.9);

		div.navbar-header {
			a.navbar-brand {
				padding: 0;

				img {
					height: 100%;
					width: auto;
				}
			}
		}
	}

	> div.container-fluid {
		margin-top: 51px; // 1px for border
		padding-top: 15px; // match left-right padding
	}
}

/*
handle backgrounds
used by splash jumbo and signup body
*/
@for $i from 1 through 3 {
	.wkndr-bg-#{$i} {
		background-image: image-url('wkndr-bg-#{$i}.jpg');
	}
}