<div class="page-header">
  <h1>Dashboard</h1>
</div>

<!-- friends -->
<div class="row">
	<div class="col-xs-12">
		<h2>Events</h2>
		<div class="row">
			<div class="col-sm-6"></div>
			<div class="col-sm-6"></div>
		</div>
	</div>
</div>

<!-- friends -->
<div class="row">
	<div class="col-xs-12">
		<h2>Friends</h2>
		<div id="userFriends" user-friends user-id="currentUser.user.id"></div>
	</div>
</div>
