<div class="page-header">
  <h1>Events</h1>
</div>

<br/>

<div class="row">
	<div class="col-xs-12">
		<div ui-calendar="uiConfig.calendar" calendar="eventsCal" ng-model="events"></div>
	</div>
</div>

<!-- floating view for form -->
<div ui-view></div>