<div class="row">

    <div class="col-xs-10 col-sm-6 col-md-5 profile">

    	<!-- current user header -->
    	<div class="profile-header">
    		<h4><span class="glyphicon glyphicon-user"></h4>
	    	<h1>{{ currentUser.user.username }}</h1>
    	</div>

    	<!-- current user data -->

    	<!-- footer -->
    	<div class="profile-footer">
    		<div class="row">
    			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
    				<button id="profile-logout" class="btn btn-block btn-default text-uppercase" ng-click="logOut()">Log Out</button>
    			</div>
    		</div>
    		<div class="row"></div>
    	</div>

    </div>

</div>