/*
color palette
- gunmetal #2b2d42
- gray-blue #8d99ae
- anti-flash white: #edf2f4
- coral red: #ff4242
- usc cardinal: #9e0303
*/

// gunmetal
$gunmetal-lightest: #D8D8DC;
$gunmetal-light: #787986;
$gunmetal: #2B2D42;
$gunmetal-dark: #1C1D2A;
$gunmetal-darkest: #08090C;

// gray-blue
$grayblue-lightest: #EAECF0;
$grayblue-light: #B6BECB;
$grayblue: #8D99AE;
$grayblue-dark: #5A626F;
$grayblue-darkest: #1A1C20;

// anti-flash white
$antiflashwhite-lightest: #FBFCFD;
$antiflashwhite-light: #F3F6F8;
$antiflashwhite: #EDF2F4;
$antiflashwhite-dark: #979B9C;
$antiflashwhite-darkest: #2C2C2D;

// coral red
$coralred-lightest: #FFDCDC;
$coralred-light: #FF8686;
$coralred: #FF4242;
$coralred-dark: #A32A2A;
$coralred-darkest: #2F0C0C;

// usc cardinal
$usccardinal-lightest: #EDD1D1;
$usccardinal-light: #C15E5E;
$usccardinal: #9E0303;
$usccardinal-dark: #650202;
$usccardinal-darkest: #1D0101;