body {
  background-color: $grayblue-lightest;
  @include background-transition();

	nav.navbar {
		@include background-opacity($antiflashwhite, 0.8);
		border-color: $grayblue !important;

		div#navbar {
			ul.nav.navbar-nav {
				li {
					a {
						color: $gunmetal;
						border-color: transparent !important;
						border-style: solid !important;
						border-width: 0;

						&:hover {
							color: $gunmetal-darkest;
						}

						&.active {
							border-color: $coralred !important;
						}
					}
				}
			}
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: "Out_of_Tune";
	}

	button.btn,
	input[type="submit"].btn {
		font-family: "Candy";
		font-size: 3em;
		line-height: 0.7em;
	}
}

/*
handle backgrounds
used by splash jumbo and signup body
*/
@for $i from 1 through 3 {
	.wkndr-bg-#{$i} {
		background-image: image-url('wkndr-bg-#{$i}.jpg');
	}
}

/*
handle fonts
*/
@font-face {
  font-family: 'Out_of_Tune';
  src: font-url('out_of_tune.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Candy';
  src: font-url('CANDY__.otf');
  font-weight: normal;
  font-style: normal;
}