<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container collapsed">
    <!-- expander -->
    <div class="expander btn btn-default" ng-click="expandCollapseJumbo($event)">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </div>

    <!-- text display -->
    <h1><span>week</span>&#183;<span>end</span>&#183;<span>er</span></h1>
    <p>/w&#275;kend&#601;r/</p>
    <p><em>noun</em></p>
    <ol>
      <li>Definition goes here</li>
    </ol>
  </div>
</div>

<div class="container-fluid">
  
  <!-- about -->
  <div id="about" class="row">
    <div class="col-md-10 col-md-offset-2">
      <h2>What is wkndr?</h2>
      <p>wkndr is a social media application focused on connecting people with an interest for the outdoors. wkndr provides a place where friends can gather, plan, and share their experiences.</p>
      <p>...</p> <!-- todo -->
    </div>
  </div>

  <!-- explain -->
  <div id="explain" class="row">
    <div id="explain-img" class="col-md-8 hidden-xs hidden-sm">
      <%= image_tag 'splash_explain.png' %>
    </div>
    <div class="col-md-4">
      <h2>Plan. Explore. Share.</h2>
      <p>Get your friends together, pick a location, set a date, and get ready for weekender!</p>
      <p>Find new locations, activities, and friends to expand your wkndr circle</p>
      <p>Share your experiences ...</p>
      <p>...</p> <!-- todo -->
    </div>
  </div>

  <!-- responsive -->
  <div id="responsive" class="row">
    <div class="col-md-12">
      <h2>Always Available</h2>
      <p>wkndr's responsive layout allows you to keep track of your events from any device available, in your home or on the go</p>
      <p>...</p> <!-- todo -->
    </div>
  </div>

  <!-- social media -->
  <div id="social" class="row">
    <div class="col-md-8">
      <h2>Follow Us!</h2>
      <p>Find us on social media and find out what new adventures are out there!</p>
      <p>...</p>
    </div>
    <div class="col-md-4 hidden-xs hidden-sm"></div>
  </div>

</div>

<!-- footer -->
<footer>
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <h2><span>wkndr</span> <small>Costa Rica</small></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <a href="#/about">About</a>
        <a href="#/legal">Legal</a>
      </div>
    </div>
  </div>
</footer>