<div class="row">

  <div class="col-xs-10 col-sm-6 col-md-5 signup">
    <!-- signup facebook -->
    <button class="btn btn-default btn-block text-uppercase" disabled="true">Sign Up with Facebook</button>

    <!-- spacer -->
    <div id="signup-spacer" class="text-uppercase">or</div>

    <!-- signup form -->
    <form id="signup-form" name="signup_form" role="form" ng-submit="signupSubmit(signupForm)" ng-init="signupForm={}">
      <h4>Sign up with your email address</h4>

      <!-- error messages -->
      <div class="bg-danger" ng-show="signupErrors.errors">
        <ul>
          <li ng-repeat="error in signupErrors.messages">{{error}}</li>
        </ul>
      </div>

      <!-- username -->
      <div class="form-group has-feedback" ng-class="{ 'has-success': signup_form.username.$touched && signup_form.username.$valid, 'has-error': signup_form.username.$touched && signup_form.username.$invalid }">
        <label for="username" class="sr-only">Username:</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Username" required ng-model="signupForm.username" />
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signup_form.username.$touched && signup_form.username.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signup_form.username.$touched && signup_form.username.$invalid"></span>
      </div>

      <!-- password -->
      <div class="form-group has-feedback" ng-class="{ 'has-success': signup_form.password.$touched && signup_form.password.$valid, 'has-error': signup_form.password.$touched && signup_form.password.$invalid }">
        <label for="password" class="sr-only">Password:</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required minlength="8" ng-model="signupForm.password" />
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signup_form.password.$touched && signup_form.password.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signup_form.password.$touched && signup_form.password.$invalid"></span>
        <p class="help-block" ng-show="signup_form.password.$touched && signup_form.password.$invalid-minlength">Password must be at least 8 characters long!</p>
      </div>

      <!-- email -->
      <div class="form-group has-feedback" ng-class="{ 'has-success': signup_form.email.$touched && signup_form.email.$valid, 'has-error': signup_form.email.$touched && signup_form.email.$invalid }">
        <label for="email" class="sr-only">Email:</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="Email" required ng-model="signupForm.email" ng-pattern="" />
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signup_form.email.$touched && signup_form.email.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signup_form.email.$touched && signup_form.email.$invalid"></span>
      </div>
      <div class="form-group has-feedback" ng-class="{ 'has-success': signup_form.email_confirm.$touched && signup_form.email_confirm.$valid, 'has-error': signup_form.email_confirm.$touched && signup_form.email_confirm.$invalid }">
        <label for="email_confirm" class="sr-only">Confirm Email:</label>
        <input type="email" id="email_confirm" name="email_confirm" class="form-control" placeholder="Confirm Email" required ng-model="signupForm.email_confirm" ng-pattern="(signupForm.email)" />
        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="signup_form.email_confirm.$touched && signup_form.email_confirm.$valid"></span>
        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="signup_form.email_confirm.$touched && signup_form.email_confirm.$invalid"></span>
        <p class="help-block" ng-show="signup_form.email_confirm.$touched && signup_form.email_confirm.$invalid-pattern">The email does not match!</p>
      </div>

      <!-- dob -->
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <div class="row">
          <div class="col-sm-6">
            <select id="dob_month" name="dob[month]" class="form-control" ng-model="signupForm.dob_month">
              <option value="" disabled="true" selected="true">Month</option>
              <option value="01">January</option>
              <option value="02">Februrary</option>
              <option value="03">March</option>
              <option value="04">April</option>
              <option value="05">May</option>
              <option value="06">June</option>
              <option value="07">July</option>
              <option value="08">August</option>
              <option value="09">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
          </div>
          <div class="col-sm-3">
            <input type="number" id="dob_day" name="dob[day]" class="form-control" placeholder="Day" ng-model="signupForm.dob_day" />
          </div>
          <div class="col-sm-3">
            <input type="number" id="dob_year" name="dob[year]" class="form-control" placeholder="Year" ng-model="signupForm.dob_year" />
          </div>
        </div>
      </div>
      
      <!-- gender -->
      <div class="form-group">
        <label for="gender" class="sr-only">Gender:</label>
        <div class="radio">
          <label class="radio-inline">
            <input type="radio" id="gender_male" name="gender" value="Male" ng-model="signupForm.gender" /> Male
          </label>
          <label class="radio-inline">
            <input type="radio" id="gender_female" name="gender" value="Female" ng-model="signupForm.gender" /> Female
          </label>
          <label class="radio-inline">
            <input type="radio" id="gender_nonbinary" name="gender" value="Non-Binary" ng-model="signupForm.gender" /> Non-Binary
          </label>
        </div>
      </div>

      <!-- marketing -->
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="shareable" name="shareable" value="true" ng-model="signupForm.shareable" />
            Share my registration data for marketing purposes.
          </label>
        </div>
      </div>

      <!-- terms & conds -->
      <span class="help-block">By clicking on Sign Up, you agree to the <a>terms & conditions</a> and <a>privacy policy</a></span>

      <!-- submit -->
      <input type="submit" id="signup" name="signup" value="Sign Up" class="btn btn-primary btn-block text-uppercase" ng-disabled="signup_form.$invalid" />
    </form>

  </div>
</div>