<div class="page-header">
  <h1>{{ hasErrors ? 'Uh Oh! An Error Ocurred ...' : event.title }}</h1>
</div>

<div class="row" ng-show="hasErrors">
	<div class="col-xs-12">
		<p class="bg-danger text-danger">{{errors}}</p>	
	</div>
</div>

<div class="row" ng-hide="hasErrors">
	<div class="col-xs-12">

		<div class="row">
			<div class="col-md-4">

				<!-- details -->
				<div class="form-group">
		      <label for="url_facebook">Description:</label>
		      <p class="form-control-static">{{event.description}}</p>
		    </div>

				<div class="form-group">
		      <label for="url_facebook">Start Date:</label>
		      <p class="form-control-static">{{event.start_date}}</p>
		    </div>

				<div class="form-group">
		      <label for="url_facebook">End Date:</label>
		      <p class="form-control-static">{{event.end_date}}</p>
		    </div>
			</div>

			<div class="col-md-8">
				<div class="row">
					<div class="col-xs-8 col-sm-8 col-md-10">
						<a class="btn btn-success btn-block" href="#/me/events/new">{{event.location_id ? 'Update' : 'Pick'}} Location</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-2">
						<a class="btn btn-primary btn-block pull-right" ui-sref="me.showEvent.editEvent({ id: event.id})">Edit</a>
					</div>
				</div>
				
				<br/>
				<!-- <ng-map id="eventShowGMap" zoom="12" center="[{{event.lat}},{{event.lng}}]">
		      <marker title="{{position_string}}" position="{{event.lat}},{{event.lng}}"></marker>
		    </ng-map> -->
			</div>

		</div>

		<!-- attendees -->
		<div class="row">
			<div class="col-xs-12">
				<br/>
				<h4>Attendees</h4>
				<!-- todo: directive -->
			</div>
		</div>

		<!-- reviews -->
		<div class="row">
			<div class="col-xs-12">
				<br/>
				<h4>Comments</h4>
			</div>
		</div>

	</div>
	
	<!-- floating view for form -->
	<div ui-view></div>
</div>
