// import components
@import "components/color_palette"; // color palette

div#me-root {
  > nav.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100px;
    border: 0;
    border-right: 1px solid;
    box-shadow: 3px 0 10px 0 $grayblue;
    border-radius: 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

    div.container-fluid {
      padding: 0;
      height: 100%;
      position: relative;

      div.navbar-header {
        margin: 0;
        width: 100%;
        margin-bottom: 15px;

        a.navbar-brand {
          padding: 0;
          margin: 15px 0 0 0;

          img {
            width: 100%;
            height: auto;
          }
        }
      }

      div#navbar {
        padding: 0;
        width: 100%;
        background-color: transparent !important;
        border-color: transparent !important;

        ul.navbar-nav {
          width: 100%;
          margin: 0 !important;

          li {
            width: 100%;
            margin-bottom: 15px;

            a {
              box-sizing: border-box;
              width: 100%;
              padding: 3px;
              border-left-width: 3px;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;

              span.glyphicon {
                width: 100%;
                font-size: 2em;
              }
            }
          }

          &:last-of-type {
            padding-top: 15px;
            border-top: 1px solid $grayblue;
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }

  > div.container-fluid {
    padding-left: 115px;

    div.page-header {
      border-bottom-color: $grayblue;
    }
  }
}