div#me-root {
	div.profile {
		float: none;
		margin: auto;
		margin-top: 2%;

		div.profile-header {
			text-align: center;

			div.profile-img {
				height: 150px;
				width: 150px;
				margin: auto;
				position: relative;

				div.profile-img-mask {
					opacity: 0;
					background-color: rgba(0,0,0,0.6);
					height: 150px;
					width: 150px;
					border-radius: 50%;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					-webkit-transition: opacity 0.25s ease-in-out;
					transition: opacity 0.25s ease-in-out;

					&:hover {
						cursor: pointer;
						opacity: 1;
					}

					span {
						color: #FFF;
						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translate(-50%, -50%);
						transform: translate(-50%, -50%);	
					}
				}

			}

			span.glyphicon {
				font-size: 5em;
			}
		}

		div.profile-footer {
			text-align: center;

			div[class^="col-"] {
				float: none;
				margin: auto;
			}
		}		
	}
}

div.avatarModal {
	div.modal-body {
		div.tab-content {
			div.tab-pane {
				padding: 15px;

				div#file-thumbnail {
					div.thumbnail {
						height: 150px;
						width: 150px;
					}
				}
			}
		}
	}
}